body {
	font-family: 'Average Sans', serif;
	color: #262626;	
}

video {
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	width: 100%;
	z-index: 1;
}

.light-box {
	width: 100%;
	height: 100%;
	z-index: 998;
	position: absolute;
	top: 0; right: 0; left: 0; bottom: 0;
	background-color: #0C1210;
}

.light-box h1 {
	text-align: center;
	position: absolute !important;	
	color: #E98B3A;
  left: 0; bottom: 18.5%; right: 0;
  width: 100%;
  opacity: 0;
  letter-spacing: 2.5px;
  font-weight: normal;
  animation: pulse1 1s linear infinite;
}

.light-box h1.viewing {
	opacity: 1;
}

.brand-title {
	z-index: 999 !important;
	position: absolute !important;	
}

.brand-left {
	z-index: 997;
	position: absolute;	
}

.absolute-center {
  overflow: auto;
  margin: auto;
  position: absolute;
}

.absolute-center-two {
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.horizontal-center {
	position: absolute;
	transform: translateX(50%);	
}

.section {
	background-color: black;
}


.section:nth-child(5) {
  background-color: #EEEEEE;
}

.section-content {
	position: absolute;
	width: 50%;
	z-index: 2;
	font-size: 40px;
	line-height: 45px;
	letter-spacing: 1.5px;
	color: white;
	/*font-style: italic;*/
	font-family: "Fell English";
	transition:  all 1.5s ease-out, opacity 2.25s ease-out;
	-o-transition: all 1.5s ease-out, opacity 2.25s ease-out;
  -ms-transition: all 1.5s ease-out, opacity 2.25s ease-out;
  -moz-transition: all 1.5s ease-out, opacity 2.25s ease-out;
  -webkit-transition: all 1.5s ease-out, opacity 2.25s ease-out;
}

.slide {
}