.brand-left {
	position: fixed;
	opacity: .8;
	width: 70px;
	left: 5%;
	top: 0;
	cursor: pointer;
}

.hamburger {
	position: fixed;
	z-index: 997;
	top: 0; right: 0;
	margin-right: 70px; margin-top: 20px;
	cursor: pointer;
	width: 29px;
	height: 22px;
}

nav {
	position: fixed;
	z-index: 997;
	top: 0;
	right: 0;
	margin-right: 80px;
	margin-top: 8.5px;
}

nav.regular-margin {
	margin-right: 120px !important;
}

nav ul {
	margin-top: 6px;
	list-style: none !important;
}

nav ul li {
	display: inline-block;
	list-style: none !important;
	cursor: pointer;
	letter-spacing: 2.5px;
	font-size: 20px;
	transition: border .4s ease-in-out, color .4s linear;
	-o-transition: border .4s ease-in-out, color .4s linear;
  -ms-transition: border .4s ease-in-out, color .4s linear;
  -moz-transition: border .4s ease-in-out, color .4s linear;
  -webkit-transition: border .4s ease-in-out, color .4s linear;
}

nav ul li:hover {
	border-bottom: 4px solid #FF5B00;
	color: #FF5B00;
}


nav ul li:nth-child(even) {
	margin-left: 30px;
	margin-right: 30px;
}

.hamburger span {
	width: 25px;
	border: 2px solid #262626;
	border-radius: 2px;
	display: block;
	transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}

.hamburger span:nth-child(even){
	margin-top: 5px;
	margin-bottom: 5px;
}

.x-menu {
	margin-right: 73px;
}
.x-menu span:first-child {
	position: absolute;
	-webkit-transform: rotate(-50deg) translate(1px, 10px);
   -moz-transform: rotate(-50deg) translate(1px, 10px);
    -ms-transform: rotate(-50deg) translate(1px, 10px);
     -o-transform: rotate(-50deg) translate(1px, 10px);
        transform: rotate(-50deg) translate(1px, 10px);

}

.x-menu span:nth-child(2) {
	opacity: 0;
	-webkit-transform: rotate(-50deg) translate(1px, 10px);
   -moz-transform: rotate(-50deg) translate(1px, 10px);
    -ms-transform: rotate(-50deg) translate(1px, 10px);
     -o-transform: rotate(-50deg) translate(1px, 10px);
        transform: rotate(-50deg) translate(1px, 10px);
	visibility: hidden;
}

.x-menu span:nth-child(3) {
	position: absolute;
	-webkit-transform: rotate(50deg) translate(-1px, -12px);
   -moz-transform: rotate(50deg) translate(-1px, -12px);
    -ms-transform: rotate(50deg) translate(-1px, -12px);
     -o-transform: rotate(50deg) translate(-1px, -12px);
        transform: rotate(50deg) translate(-1px, -12px);
}
