* {
	font-family: Gotham, Helvetica, sanserif;
	background-color: gray;
}

.center {
    margin: 0 auto;
}

.pig {
    display: inline-block;
    border-radius: 50%;
    background: url(http://i.imgur.com/D2VApI7.png) no-repeat center center;
    background-size: 100px;
    height: 75px;
    width: 110px;
    padding: 20px;
}
.article {
    width: 520px;
    display: block;
}

h1 {
    margin-left: 50px;
    margin-bottom: -10px;
    color: black;
    font-size: 48px;
    font-style: italic;
}

h2 {
    margin-left: 75px;
    margin-bottom: 0px;
    color: #4c4c4c;
}
.description {
    display: inline-block;
    width: 300px;
    margin: 10px;
}
.red-bg {
    background-color: #ff00d6;
}

.blue-bg {
    background-color: #03b1ff;
}

.yellow-bg {
    background-color: #f87901;
}