form{
	font-family: "Gotham";
	background-color: #EEEEEE;
	border-top: 1px solid #C1B8A6;
}

header {
	display: none !important;
}

span.req {
	display: none !important;
}

label.desc {
	letter-spacing: 1.5px;
	font-weight: normal;
	font-size: 14px;
}

#logo {
	display: none !important;
}

li.phone span label {
	display: none !important;
}

a.powertiny:after {
  background-color: #EEEEEE;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

li {
	transition: all .5 ease-out;
}

.wufoo li label.desc {
	transition: all .5 ease-out;
}

.wufoo li.focused label.desc {
	color: white;
}