* {
	font-family: Times; 
	background-color: #8FD8D8;
	text-align: center;
}

p {
	color: #C41E3A;
}

.important {
	color: #8B0000;
	stlyle: strong;
	text-align: center;
}

ol {
	margin-right: 100px;
	font-style: italic;
}

ul {
	margin-left: 350px;
	font-style: italic;
}

li {
	length: 300px;
	text-align: left;
}

h1 {
	text-align: center;
}

#superduperserial {
	font-style: strong
}

img {
	border-radius: 15%;
	height: 250px;
	width: 400px;
}