* {
	font-family: Arial;
	font-size: 12px;
}

body {
	background-color: #C0C0C0	
}

.header {
	float: top;
	padding: 5px 5px 5px 5px;
}

.footer {
	padding: 5px 5px 5px 5px;
	bottom: 0;
	width: 80%;
	margin: 20px 10px 50px 80px;
	float: left;
	padding: 2px 2px 2px 2px;
}


#sidebarwrapper {
	width: 18%;
	height: 100%;
	float: left;
	height: 75px;
	position: left;
	bottom: 0;
	text-align: center;
	padding: 1px 1px 1px 1px;
	margin: 5px 0 0 0;
	border-radius: 10%
}

.content {
	float: right;
	padding: 5px 5px 5px 5px;
	width: 80%;
	height: 100%;
	margin: 5px -5px 0 0;
}

img {
	border-radius: 3%;
}

img {
	margin: 0 auto;
	display: block;
}

li {

}

ul {

}

p {

}

div {
	border-radius: 3%;
	border: 2px solid #DCDCDC;
	background-color: #E0FFFF;
}

h2 {
	text-align: center;
	font-size: 16px;
}

h6 {
	text-align: center;
}

h1 {
	font-size: 18px;
	text-align: center;
}

