
        * {
            font-family: courier;
        }

        #top-frame{
            background: url(http://imgur.com/R3aqOZm.jpg) no-repeat center center;
            background-size: cover;
            border-radius: 10px;
            height:750px;
            width: 100%;
            text-shadow: 4px 4px black;
        }
        #title{
            color: white;
            font-family: courier;
            vertical-align: text-bottom;

        }
        #author-names{
            position: relative;
            color:white;
            font-family: courier;
            vertical-align: bottom;
        }
        #bottom-frame{
            height: 100px;
        }
        
        #span-marker {
            position: absolute;
            bottom: 100px;
            left: 0;
            padding: 10px;
        }
        
        #bottom-paragraph{
            vertical-align: middle;
            margin-left: auto;
            margin-right: auto;
            border-radius: 10px;
            background-color: #666666;
            padding: 5px;
        }