/* You'll want to make the site responsive and nice looking here. Have fun!*/

* {
	font-family: Gotham, Helvetica, sanserif;
}

body {
	margin: 0 auto;
	display: block;
	padding: 3%;
} 

/* doing margin zero auto to make it automatically center on the screen. use display block to make that work */

/*.header {
	background: url('http://imgur.com/blJaoIh') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:750px;
  width: 500px;
}*/

.inner-content {
	width: 80%;
	height: auto;
	margin: 0 auto;
	padding: 3%;
	background-color: gray;
	position: relative;

}

/*.mega-container {
	width: 80%;
}*/

.responsive-design {
	background-color: red;
	width: 47.25%;
	float: left;
	padding-bottom: 2000px;
    margin-bottom: -2000px;
}

.hover:hover {
	background-color: #C0C0C0!important;
}

.fluid-layouts {
	background-color: blue;
	width: 47.25%;
	float: left;
	padding-bottom: 2000px;
    margin-bottom: -2000px;
}

.your-conclusion {
	background-color: yellow;
	float: left;
	width: 96.5%;
	position: relative;
}

.reflection {
	background-color: green;
	float: left;
	width: 96.5%;
	position: relative;
}

.references {
	background-color: red;
	width: 96.5%;
	float: left;
	position: relative;
}

.padded {
	padding: 10px;
}

.margin {
	margin: 5px;
}


div  {
	border-radius: 10px;
	display: block;
    padding-bottom: 2000px;
    margin-bottom: -2000px;}

/*div:hover {
	background-color: white!important;
}*/

@media (max-width: 1200px) {
	.responsive-design {
		width: auto;
	}


	.fluid-layouts {
		width: auto;
	}
}

@media (max-width: 640px) {
	div { 
		font-size: 20px;
	}
}

@media (max-width: 1025px) {
	div { 
		font-size: 18px;
	}
}