.white {
	color: #FEF1C3
}

.white-bg {
	background-color: #FEF1C3
}

.black-bg { 
	background-color: #282828;
}

.black { 
	color: #282828;
}

.brown-black-bg {
	background-color: #210000;
}

.brown-black {
	color: #210000;
}

.plum-bg {
	background-color: #350F28;
}

.plum {
	color: #350F28;
}

.cloudy-sky {
	color: #57658A;
}

.cloudy-sky-bg {
	background-color: #57658A;
}

.moss {
	color: #3B4F2C;
}

.moss-bg {
	background-color: #3B4F2C;
}

.pastel-moss-bg {
	background-color: #4B6653;
}

.pastel-moss {
	color: #4B6653;
}

.forest-lb-bg {
	background-color: #95CFCA;
}

.forest-lb {
	color: #95CFCA;
}

.forest-teal-bg {
	background-color: #6DB3BF;
}

.forest-teal {
	color: #6DB3BF;
}

.forest-blue-bg {
	background-color: #469AB8;
}

.forest-blue {
	color: #469AB8;
}

.forest-db-bg {
	background-color: #20576E;
}

.forest-db {
	color: #20576E;
}


.forest-db-bg {
	background-color: #183642;
}

.forest-db {
	color: #183642;
}

